<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Sidebar -->
      <div class="sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Opción 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Opción 2</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Contenido principal -->
      <h1>Contenido principal</h1>
    </div>
  </div>
</div>

