<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid me-5">
    <a class="navbar-brand " routerLink ="home"> <img src="assets/Segurostendencias-y-riesgos_color_pos_RGB.png" alt="imagen"> </a>
    <div class="navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ms-auto me-">
        <li class="nav-item">
          <a class="nav-link" routerLink ="señales"><i class="bi bi-file-earmark-text"></i> Señales</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink ="señales/new"><i class="bi bi-folder-plus"></i> Nueva Señal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="señales/new"><i class="bi bi-person-fill"></i> ######</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
