<h2 class="text-center mt-10px">Inyección de señales</h2>

<form (ngSubmit)="guardarSenal()" class="container">
  <table class="table table-striped">
    <thead class="table table-dark">
      <tr>
        <th class="text-center">Búsqueda de señales por palabra clave</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="input-group mb-3">
            <input type="text" placeholder="Ingrese palabra clave" name="query" class="form-control" required [(ngModel)]="query">
            <select class="form-select" name="category" id="tag" [(ngModel)]="category">
              <option selected [ngValue]="null">Escoge la categoría</option>
              <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
            </select>

            <!-- <div *ngIf="categorySelected">
              <select class="form-select" id="inputGroupSelect02" [(ngModel)]="tagSelected">
                <option selected>Escoge el tag</option>
                <option *ngFor="let tag of categorySelected.tags" [ngValue]="tag">{{tag.name}}</option>
              </select>
            </div> -->
            <button class="btn btn-primary">Buscar señales</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>

